.may-header {
  padding        : 20px;
  width          : 90%;
  border-bottom  : 1px solid gray;
  display        : flex;
  justify-content: space-between;
  align-items    : center;

  &-logo {
    height: 60px;
  }

  .active {
    color: rgb(26, 75, 180);
    font-weight: bold;
  }

  &-links-wrapper {
    display: flex;

    &-link {
      margin: 0 10px;
    }
  }
}