.may-header {
    padding: 10px 20px;
    width: 100%;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
        height: 60px;
    }

    .active {
        text-decoration: underline;
        color: darkgreen;
        font-weight: 500;
    }

    &-link-wrapper {
        display: flex;

        &-link {
            margin: 0 10px;
        }
    }
}
