.may-user-card {
    max-width: 250px;
    margin: 10px;
    max-height: 250;

    .title {
        font-size: 16px;
    }

    .body {
        display: block;
        max-width: 98%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}